*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.heading{
    margin: 0 0 2rem 9rem;
}
.to-do-app-container{
    background-color: lightgray;
    padding: 3rem;
    margin: 0 60rem;
    width: 40rem;
}
.task-input{
    padding: 1rem 0 1rem 1rem ;
    margin: 0 0.5rem 0 0;
    font-size: 1.5rem;
}
.add-task-btn{
    font-size: 1.5rem;
    background-color: green;
    color: white;
    margin: 0 0 0 1.5rem;
}
.list{
    font-size: 1.3rem;
    margin: 0 0 0 2rem;
}
.delete-task-btn{
    font-size: 1.5rem;
    background-color: red;
    color: white;
    margin: 2rem 0 0 15rem;
}